doctype html
html(class='no-js')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='assets/css/main.css')

    body
        h2.centered Карты
        div#card

        h2.centered Телефоны
        div#mk

        h2.centered Кошельки
        div#wallet

        script(src='assets/js/bundle.js')
